* {
  --background-color: #1a1b21;
  --background-color2: #23252c;
  --heading-color: #f5f5f5;
  --text-color: #dcdcdc;
  --footer-color: #161619;
  --job-title-color: #f3bf99;
  --social-icons-color: #918e9b;
  --linkedin-color: #5093e2;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  background-color: var(--background-color2);
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 317px;
  border-radius: 10px;
  background-color: var(--background-color);
  box-shadow: 3px 3px 5px #000000b1;
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
}

#me {
  height: auto;
  width: 100%;
  max-width: 317px;
  border-radius: 10px 10px 0 0;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.title h1, p {
  margin: 0;
}

.title h1 {
  font-size: 2.2rem;
  color: var(--heading-color);
}

.title p {
  font-size: 1.1rem;
  color: var(--job-title-color);
}

#email {
  margin-top: 12px;
  font-size: 0.8rem;
  color: var(--text-color);
}

.social-btn {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-btn button {
  padding: 10px 25px 10px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

#linkedin {
  background-color: var(--linkedin-color);
  color: var(--heading-color);
}

.about {
  padding: 0 20px 0 20px;
}

.about h2 {
  margin: 20px 0 10px 0;
  color: var(--heading-color);
}

.interests {
  padding: 0 20px 0 20px;
  margin: 0 0 20px 0;
}

.interests h2 {
  margin: 0 0 10px 0;
  color: var(--heading-color);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 18px;
  font-size: 2rem;
  padding: 15px;
  background-color: var(--footer-color);
  border-radius: 0 0 10px 10px;
}

.social-links a {
  color: var(--social-icons-color);
}